<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/clientes.css">
    <title>PhoneJa - Clientes</title>
</head>

<body>
    <header>
        <img src="/public/assets/icones/logo.svg" alt="logomarca">
        <a href="home.html">
            <span></span>
            Voltar para home</a>
    </header>

    <main>
        <h4>
            Cliente(s) encontrado(a):</h4>

        <div class="cards">

            <div class="card">
                <h1>
                    Nome </h1>
                <h3>Telefone</h3>

                <h3>CPF</h3>

                <h3>Endereço</h3>

                <h3>Número/Complemento</h3>

                <h3>Estado</h3>

                <h3>Cidade</h3>

                <h2>
                    <strong>Dados da Compra:</strong>
                </h2>
                <h3>Itens comprados</h3>

                <h3>Valor da Compra</h3>

                <h3>Modelo do Celular</h3>

                <h3>Ano do Celular</h3>

                <h3>Cor do Celular</h3>

                <h2>
                    <strong>Dados da Vendedor(a) e Loja</strong>
                </h2>
                <h3>Vendedor(a)</h3>

                <h3>Loja</h3>

            </div>



        </div>



    </main>

</body>

</html>