<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/dashboard.css">
        <title>PhoneJA - dashboard</title>
    </head>
    <body>
        <header>
            <img src="/public/assets/icones/logo.svg" alt="logomarca">
            <a href="home.html">
                <span></span>
                Voltar para home</a>
        </header>

        <h1>Bem-vinda(o) a sua área reservada</h1>

        <main>
            <div class="container">
                <form action="#" method="get">
                    <fieldset>
                        <legend>
                            <img src="/public/assets/icones/search_dash.svg" alt="logomarca">
                            <h1>Pesquisa de cliente</h1>
                        </legend>

                        <div>
                            <label for="name">Pesquisar CPF</label>
                            <span></span>
                            <input type="text" name="search" id="searchCpf">
                        </div>
                    </fieldset>
                    <a class="nv-btn" href="clientes.html">Pesquisar</a>
                </div>
            </form>

            <div class="register">
                <img class="imgCadastro" src="/public/assets/icones/register.svg" alt="ícone de uma pasta de arquivo com uma silhueta humana">
                <h1>Cadastrar Clientes e Vendas</h1> 
               
                <a href="cadastro.html">Cadastrar clientes e vendas</a>
            </div>
        </main>
    </body>
</html>