<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/home.css">
        <title>Loja PhoneJa</title>
    </head>
    <body>
        <header>
            <img src="/public/assets/icones/logo.svg" alt="logomarca">
            <a href="index.html">
                <span></span>
                Intranet</a>
        </header>

        <main>
            
                <div class="text">
                    <h1>PhoneJa Celulares</h1>
                    <p>Aqui você encontra os melhores modelos, preço justo e os melhores acessórios para o seu celular</p>
                    <button type="submit">Encontre nossas lojas
                        <span></span></button>
                </div>

            <div>
                <img src="/public/assets/icones/logo.svg" alt="logomarca">
            </div>
        </main>
        <footer>
            <div>
                <h3>Entre em contato</h3>
                <p class="p_footer">
                    Telefone: +55 (11)1234-1234</p>
            </div>
            <a href="#">
                <p>Trabalhe Conosco</p>
                <p>Franquias</p>
            </a>
            <div>
                <h3>Redes Sociais</h3>
                <a href="https://facebook.com" target="_blank"><img src="/public/assets/img/facebook.png" alt="ícone do facebook"></a>
                <a href="https://youtube.com" target="_blank"><img src="/public/assets/img/youtube.png" alt="ícone do youtube"></a>
            </div>
        </footer>

    </body>
</html>