<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/styles/index.css">
        <script src="Javascript/Login.js"></script>
        <title>PhoneJA - login</title>
    </head>
    <body>
        <header>
            <img src="/public/assets/icones/logo.svg" alt="logomarca">
            <a href="home.html">
                <span></span>
                Voltar para home</a>
        </header>

        <img src="" alt="">
        <div class="container">
            <form action="#" method="POST">

                <fieldset>

                    <legend>
                        <img src="/public/assets/icones/logo.svg" alt="logomarca">
                        <h1>PhoneJa - Intranet</h1>
                    </legend>

                    <div>
                        <label for="name">Login</label>
                        <span></span>
                        <input type="text" name="login" id="user">
                        <label for="password">Senha</label>
                        <input type="password" name="password" id="pass">
                    </div>

                </fieldset>
                <a href="dashboard.html">
                Entrar
                </a>
                
            </form>

        </div>
        
    </body>
</html>